/aopalliance/
/asm/
/classworlds/
/com/
/commons-beanutils/
/commons-cli/
/commons-codec/
/commons-collections/
/commons-digester/
/commons-io/
/commons-lang/
/commons-logging/
/org/
/junit/
/javax/
/commons-validator/
/de/
/doxia/
/oro/
/net/
/xalan/
/plexus/
/xml-apis/
/velocity/